@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html, body{
    min-height: 100%;
}

body{
    position: relative;
    background: linear-gradient(180deg, rgba(116,27,213,1) 12%, rgba(68,23,226,1) 68%);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 40px;
}

.container{
    margin: auto;
    width: 80%;
    max-width: 500px;
    border: 2px solid white;
    padding: 20px;
    color: white;

    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

h1{
    font-weight: bold;
    font-size: 2.5rem;
    text-shadow: 5px 5px 20px black;
}

.container-newTask{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.container-newTask input{
    padding: 5px;
    font-weight: bold;
    outline: none;
    width: 82%;
    border: 1px solid white;
    border-radius: 5px;
}

.container-newTask button{
    padding: 5px;
    width: 15%;
    cursor: pointer;
    border: 1px solid white;
    background-color: rgb(92, 27, 213);
    color: white;
    border-radius: 5px;

    transition: background-color 400ms;
}

.container-newTask button:hover{
    background-color: #ad00ff;
}

hr{
    width: 100%;
}

#outList{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.task{
    position: relative;
    width: 100%;
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task:hover{
    background-color: rgb(230, 230, 230);
}

.task p{
    width: 85%;
    overflow-wrap: break-word;
}

.task button{
    right: 0px;
    padding: 2px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    background-color: rgb(92, 27, 213);
    border: 1px solid white;
    border-radius: 5px;
    color: white;

    transition: background-color 400ms;
}

.task button:hover{
    background-color: #ad00ff;
}

.checked{
    text-decoration: line-through;
}

.editScreen{
    position: absolute;
    width: 100%;
    min-height: 100vh;
    top: 0;
    padding-top: 100px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;

    transition: background-color 500ms;
}

.editScreen input{
    padding: 10px;
    border-radius: 10px;
    width: 300px;
    outline: none;
    border: none;
}

.editScreen button{
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(92, 27, 213);
    color: white;
    cursor: pointer;
    border: 1px solid white;

    transition: background-color 400ms;
}

.editScreen button:hover{
    background-color: #ad00ff;
}

img{
    width: 40px;
    height: 40px;
}

a{
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    text-decoration: none;
}

footer{
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 780px){
    footer{
        display: none;
    }
}
